# ============================
# ORACLE
# ============================
ORACLE_HOST=tu_host_oracle
ORACLE_PORT=1521
ORACLE_SERVICE=tu_service
ORACLE_USER=tu_usuario
ORACLE_PASSWORD=tu_password

# ============================
# POSTGRESQL
# ============================
POSTGRES_HOST=tu_host_postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=tu_base_datos
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_password
